.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(193, 193, 193);
}

.App-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.App-description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.App-link {
  color: #00495e;
}

.logo-container {
  height: 40vmin;
  margin-bottom: 2rem;
}

.logo {
  width: 100%;
  height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: spin 20s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
